<?xml version="1.0"?>
<phpunit colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="testdox.txt"/>
  </logging>
  <source/>
</phpunit>
